flows_mbp.g.a.net.json
[{"id":"660cf0f8.c0b42","type":"tab","label":"Autolib","disabled":true,"info":""},{"id":"1b5b47cf.11f1c","type":"tab","label":"Autolib 2","disabled":false,"info":""},{"id":"ab63dab7.3be17","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a78fa4cf.e818e8","type":"http request","z":"660cf0f8.c0b42","name":"","method":"GET","ret":"obj","url":"https://opendata.paris.fr/api/records/1.0/search/?dataset=autolib-disponibilite-temps-reel&q=boulognebillancourt-henrimartin-2 OR paris-portesaintcloud-parking OR boulognebillancourt-reine-12","tls":"","x":130,"y":260,"wires":[["faf9f951.565ca8"]]},{"id":"46a2ca5f.0c0254","type":"inject","z":"660cf0f8.c0b42","name":"every min","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["a78fa4cf.e818e8"]]},{"id":"c0892c62.445c08","type":"rbe","z":"660cf0f8.c0b42","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":320,"wires":[["d284e4a4.b8d088","229cefb9.38c49","205e9dcf.04d1a2","8af79fa.bef97e"]]},{"id":"8af79fa.bef97e","type":"function","z":"660cf0f8.c0b42","name":"boulognebillancourt-henrimartin-2","func":"\n\nmsg.payload = msg.payload.records[0];\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["7fe5f506.34b73c"]]},{"id":"7fe5f506.34b73c","type":"mqtt out","z":"660cf0f8.c0b42","name":"/autolib/boulognebillancourt/henrimartin/2","topic":"/autolib/boulognebillancourt/henrimartin/2","qos":"1","retain":"false","broker":"ab63dab7.3be17","x":880,"y":500,"wires":[]},{"id":"205e9dcf.04d1a2","type":"function","z":"660cf0f8.c0b42","name":"boulognebillancourt-reine-12","func":"\nmsg.payload = msg.payload.records[1];\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":440,"wires":[["71e7155a.0f2834"]]},{"id":"229cefb9.38c49","type":"function","z":"660cf0f8.c0b42","name":"paris-portesaintcloud-parking","func":"\nmsg.payload = msg.payload.records[2];\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["9c0298d0.c8666"]]},{"id":"71e7155a.0f2834","type":"mqtt out","z":"660cf0f8.c0b42","name":"/autolib/boulognebillancourt/reine/12","topic":"/autolib/boulognebillancourt/reine/12","qos":"1","retain":"false","broker":"ab63dab7.3be17","x":870,"y":440,"wires":[]},{"id":"9c0298d0.c8666","type":"mqtt out","z":"660cf0f8.c0b42","name":"/autolib/paris/portesaintcloud/parking","topic":"/autolib/paris/portesaintcloud/parking","qos":"","retain":"","broker":"ab63dab7.3be17","x":870,"y":380,"wires":[]},{"id":"d284e4a4.b8d088","type":"function","z":"660cf0f8.c0b42","name":"lastCall","func":"\nmsg.payload = msg.headers.date;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["e978aaff.cc979"]]},{"id":"e978aaff.cc979","type":"mqtt out","z":"660cf0f8.c0b42","name":"/autolib/_lastCall","topic":"/autolib/_lastCall","qos":"","retain":"","broker":"ab63dab7.3be17","x":810,"y":320,"wires":[]},{"id":"faf9f951.565ca8","type":"switch","z":"660cf0f8.c0b42","name":"if no Error","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":320,"wires":[["c0892c62.445c08"]]},{"id":"b284a013.96c588","type":"http request","z":"1b5b47cf.11f1c","name":"","method":"GET","ret":"obj","url":"https://opendata.paris.fr/api/records/1.0/search/?dataset=autolib-disponibilite-temps-reel&q=boulognebillancourt-henrimartin-2 OR paris-portesaintcloud-parking OR boulognebillancourt-reine-12","tls":"","x":150,"y":140,"wires":[["3cc40e5e.e5958a"]]},{"id":"38c76607.37ff5a","type":"inject","z":"1b5b47cf.11f1c","name":"every min","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["b284a013.96c588"]]},{"id":"7e1519a4.9e1e28","type":"rbe","z":"1b5b47cf.11f1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":300,"wires":[["f5c54290.81a7b","6a29e7f5.9c18d8"]]},{"id":"f5c54290.81a7b","type":"function","z":"1b5b47cf.11f1c","name":"lastCall","func":"\nmsg.payload = msg.headers.date;\nmsg.topic = '/autolib/_lastCall'\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["3be03c89.6896fc"]]},{"id":"3cc40e5e.e5958a","type":"switch","z":"1b5b47cf.11f1c","name":"if no Error","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":220,"wires":[["7e1519a4.9e1e28"]]},{"id":"6bf3d1b3.5cfe18","type":"split","z":"1b5b47cf.11f1c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":340,"wires":[["669ecd31.2958fc"]]},{"id":"3be03c89.6896fc","type":"mqtt out","z":"1b5b47cf.11f1c","name":"#dynamicTopic","topic":"","qos":"","retain":"","broker":"ab63dab7.3be17","x":980,"y":300,"wires":[]},{"id":"669ecd31.2958fc","type":"function","z":"1b5b47cf.11f1c","name":"generateDynamicTopic","func":"\nmsg.topic = \"/autolib/\"+msg.payload.fields.id.replace(/-/g, '/');\n\ndelete msg.headers;\ndelete msg.statusCode;\ndelete msg.responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["3be03c89.6896fc","d604353e.446b2"]]},{"id":"6a29e7f5.9c18d8","type":"change","z":"1b5b47cf.11f1c","name":"extractRecords","rules":[{"t":"move","p":"payload.records","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[["6bf3d1b3.5cfe18"]]},{"id":"d604353e.446b2","type":"debug","z":"1b5b47cf.11f1c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":950,"y":380,"wires":[]}]